.title {
    margin-top: 0;
    padding-top: 0.75em;
    margin-bottom: 0.5em;
    font-size: 4em;
    letter-spacing: 2px;
    font-family: "Robot Invaders";
}

@font-face {
    font-family: "Robot Invaders";
    src: local("RobotInvaders"), url("../fonts/RobotInvaders.ttf") format("truetype");
}

@font-face {
    font-family: "Robtronika";
    src: local("Robtronika"), url("../fonts/Robtronika.ttf") format("truetype");
}